* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 10vh;
}

.page-title {
  text-align: center;
}

.inventory-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  justify-content: center;
  width: 80vw;
}

.cart-container,
.orders-container {
  border: 1px solid black;
  height: 80vh;
  overflow: scroll;
  width: 50vw;
}

.icon {
  height: 10vw;
  margin: 10px;
  opacity: .75;
  width: 10vw;
}

.right-arrow-icon {
  transform: rotate(180deg);
}

.inventory-button {
  height: auto;
}

.item-image {
  height: 100px;
  width: 100px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.hidden {
  display: none;
}
